//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 28 01:26:10 2017
//! **************************************************************************

SCHEMATIC START;
COMP "KEY0" LOCATE = SITE "P118" LEVEL 1;
COMP "KEY1" LOCATE = SITE "P119" LEVEL 1;
COMP "b<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "b<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "b<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "b<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "g<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "g<1>" LOCATE = SITE "P27" LEVEL 1;
COMP "g<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "g<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "r<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "r<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "r<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "r<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "hsync" LOCATE = SITE "P10" LEVEL 1;
COMP "vsync" LOCATE = SITE "P9" LEVEL 1;
COMP "CLK50MHZ" LOCATE = SITE "P123" LEVEL 1;
NET
        "cpu_inst/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
NET "mypll_inst/clkin1" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

